body{
  padding: 30px;
  background-color: lightblue;
} 
img{
  width: 600px;
  }
.love {
  background-color: pink;
  padding: 20px;
}
#end {
  background-color: lightgreen;
  padding: 20px;
}
.bigger{
  font-size: 3em;
}